.exam-form{
    
    // background:yellow;
    width:65%;
    height:100vh;
    display: flex;
    justify-content: center;
    padding-top:2rem;
   
   


    .exam__opciones{
        display: flex;
        flex-direction: column;
        margin-bottom:60px;
        // background: blue;
        
        .form-check{
            background:rgb(238, 238, 238,.6);
            backdrop-filter: blur(10px);
            padding:10px 10px 10px 40px;
            width:700px;
            margin-top:10px;
            border-radius:10px;
        }
        .form-check:hover{
            background:rgb(52, 152, 219 ,.6);
            backdrop-filter: blur(10px);
        }

        .bgColor{
            background:rgb(52, 152, 219 ,.6);
            backdrop-filter: blur(10px);
            padding:10px 10px 10px 10px;
            width:700px;
            margin-top:10px;
            border-radius:10px;
        }
        
    }
    .prguntas-contenedor{
        margin-bottom: 80px;
    }
    
    
    
    
}